*{
    margin: 0%;
    padding: 0%;
}
#container {
	position: relative;
	top: 30px;
	outline: 2px solid #000;
	font-size: 0;
	margin:auto;
	height:700px;
	width:700px;
	padding: 0;
	border: none;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
}

.menu{
    position: relative;
}
#Gridsize{
    position: absolute;
    top: 10%;
    width: 100px;
    height: 40px;
}
#earser{
    position: absolute;
    top: 20%;
    width: 100px;
    height: 40px;
}
#color_piker{
    position: absolute;
    top: 30%;
    width: 100px;
    height: 40px;
}
